<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/myapp/css/bootstrap.min.css">
    </head>
        <body>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarColor02">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">About</a>
                            </li>
                          </ul>
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                      </nav>
                    <div class ="container">
                        {% for item in items %}
                        <div class="calendar_entry col-lg-4">
                            <br/>
                            <h2>{{ item.title}} </h2>
                            <h4>{{ item.title}} </h4>
                            <p>
                                {{ item.description}}
                            </p>
                            
                        </div>
                        {% endfor %}
                    </div>
        </body>

</html>